{% extends 'base.html' %}
{% block head %}
<!--
⬜⬜⬜⬜⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛⬛⬛⬜⬜⬜⬜⬜
⬜⬜⬜⬛🏾⬛⬛⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬜⬛🏾🟪🏻⬛⬜⬜⬜⬜
⬜⬜⬛🏻🟪🏾🏾⬛⬜⬜⬜⬜⬜⬛⬛⬛⬛⬛🏾🟪🏻🏻⬛⬜⬜⬜⬜
⬜⬜⬛🏻🏻🟪🟪🏾⬛⬛⬛⬛⬛🏾⬜⬜⬜🏾🏾🟪🏻🏻⬛⬜⬜⬜⬜
⬜⬜⬛🏻🏻🏻🟪🟪🏾🏾🏾🏾🏾⬜⬜⬜⬜⬜⬛⬛⬛🏻⬛⬜⬜⬜⬜
⬜⬜⬛🏻🏻🏻🏻🟪🏾🏾🏾⬜⬛⬛⬜⬜🏻🏻🏻🏻⬜⬜⬛⬜⬜⬜⬜
⬜⬜⬜⬛🏻🏻🏻🟪🟪🏾🏾⬛⬛⬜⬜⬜🌫️🌫️🏻🌫️⬜⬜⬜⬛⬜⬜⬜
⬜⬜⬜⬜⬛🏻🏻🟪🟪🏾⬜⬜⬜⬜🌫️⬛⬛⬛⬛⬛⬛🌫️⬜⬜⬛⬜⬜
⬜⬜⬜⬜⬛🏻🏻🟪🏾🏿⬜⬜⬜🌫️⬛⬛⬛⬛⬛⬛⬛⬛🌫️🌫️⬜⬛⬜
⬜⬜⬜⬜⬛🏻🟪🟪🏾🏿⬜⬜🌫️⬛⬛⬛⬛⬛⬛⬛⬛⬛⬛🌫️🌫️⬛⬜
⬜⬜⬜⬜⬜⬛🏿🟪🏿⬜⬜🌫️⬛⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫⬛🌫️⬜⬛
⬜⬜⬜⬜⬜⬛🏿🏿🏿⬜⬜🌫️⬛🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🌫️⬜⬛
⬜⬜⬜⬜⬜⬜⬛🏿🏿⬜🌫️🌫️🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🌫️🌫️⬛
⬜⬜⬜⬜⬜⬜⬛🏿🏿⬜🌫️🌫️🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🌫️🌫️⬛
⬜⬜⬜⬜⬜⬜⬛🏿🏿⬜🌫️🌫️🌫️🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🌫️⬛⬜
⬜⬜⬜⬜⬜⬜⬛⬜🏿⬜🌫️🌫️🌫️🟫🟫🟫🟫🟫🟫🟫🟫🟫🟫🌫️⬛⬜⬜
⬜⬜⬜⬜⬜⬜⬛⬜⬜🌫️🌫️🌫️🌫️🌫️🟫🟫🟫🟫🟫🟫🟫🟫🌫️🌫️⬛⬜⬜
⬜⬜⬜⬜⬜⬜⬛⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🟫🟫🟫🟫🟫🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬜⬜⬜⬛⬜🌫️⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬜⬜⬛⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬜⬜⬛⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬜⬛⬜⬜🌫️⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬜⬛⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬛⬜⬜⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜⬜
⬜⬜⬜⬛⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜
⬜⬜⬛⬜⬜🌫️⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜
⬜⬜⬛⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜⬜
⬜⬛⬜⬜⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜
⬛⬜⬜⬜⬜🌫️⬜🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️🌫️⬛⬜
-->
<script charset="utf-8" src="/static/js/bootstrap.js"></script>
<script charset="utf-8" src="/static/js/jquery-3.6.1.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/css/main.css" />
{% endblock %}
{% block footer %}
<script charset="utf-8" src="/static/js/sparkle.min.js"></script>
<script charset="utf-8" src="/static/js/main.js"></script>
{% endblock %}
{% block main %}
<div id="foreground"></div>
<div class="form-body pt-5 pb-5">
    <div class="container">
        <div class="row">
            <h3 class="pt-5 pb-5 text-center">{{flag}}</h3>
        </div>
    </div>
</div>
{% endblock %}